:root {
  --background-image: url("../images/cover-image-dark.png");
  --active-button-color: rgba(255, 0, 112, 0.4);
  --button-color: #ff0070;
  --accent-color: #ff0070;
  --background-color: #000028;
  --title-color: #db00ff;
  --title-text-color: #000028;
  --text-color: #f1b2ce;
  --posttitle-text-color: var(--title-text-color);
  --topic-title: var(--accent-color);
  --border-color: var(--accent-color);
  --is-light: visible;
}